html,body{
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	box-sizing:border-box;
}
body{
	margin:0 auto;
}
#contentwrapper{
	padding:10px;
	padding-left:0;
	margin:5px auto;
	min-width:400px;
	width:98%;
	min-height:600px;
	height:80%;
	white-space:nowrap;
	display:flex;
}
#heading{
	width:1000px;
	margin:10px auto 0;
	display:none;	
}
#heading  h1{
	margin:0;
	color: #004c4d;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight:300;
	letter-spacing: 5px;
	line-height:2;

}
#mapcontainer{
	min-width: 200px;
	width: 85%;	
	min-height: 200px;
	height:100%;
	border: 7px solid #004c4d;
	display:inline-block;
}
#map{
	min-width: 200px;
	width: 100%;
	min-height: 200px;
	height:100%;
}
#sidebar{
	background-color:#004c4d;
	min-width:150px;
	max-width:250px;
	width:17%;
	padding:10px 10px 4px 10px;
	color:#f2f2f2;
	height:100%;
	overflow:hidden;
	
}
#legend{
	margin:5px 20px 10% 5px;
	padding-bottom:5px;
	font-size:0.9em;

}

#legend label{
	display:block;
	padding:10px 5px 10px 5px;
	margin:0;
	cursor:pointer;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px;
	border: 2px solid #004c4d;
	border-bottom:2px solid #003233;
	width:100%;
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

	
}
#legend label:hover, #legend label:focus{
	background-color:#f2f2f2;
	border: 2px solid #003233;
	color:#444242;
	font-size:1em;

}
#legend label:active{
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    background: #003233;
    border: solid 2px #00191a;
}
.active-button{
	background-color:#f2f2f2;
	color:#444242;

}
label.active-button:hover, label.active-button:focus{
	background-color:#d9d9d9 !important;
}

#legend input{
	vertical-align:middle;
	display:none;
	
}
#legend label span{
	vertical-align:middle;
	white-space:normal;
	font-weight:bold;	
}


.legendIcon{
	margin-right:5px;
	vertical-align:middle;
	width: 21px;
	height: 34px;
}


#markernav{
	margin:5px;
	padding-top:5px;
	min-height:200px;
	height:50%;
	display:none;
	overflow:hidden;

	
	
	
}
#markernav ul{
	padding:0;
	margin:5px;
	min-height:200px;
	height:80%;
	overflow:scroll;
	overflow-x:hidden;
	


}
#markernav li{
	list-style:none;
	padding:3px;
	font-size:0.7em;
	width:80%;
	white-space:normal;
	cursor:pointer;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px;
	border: 1px solid #004c4d;
	border-bottom:1px solid #003233;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#markernav li:hover, #markernav li:focus{
	background-color:#f2f2f2;
	color:#444242;
	border: 1px solid #003233;
}
#markernav li:active{
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #003233;
    border: solid 1px #00191a;
}
#markernav h3{
	margin:0;
	margin-bottom:20px;
	padding-bottom:10px;
	padding-top:10px;
	white-space:normal;
	font-size:1em;
	border-top:3px solid #f2f2f2;
	border-bottom:3px solid #f2f2f2;
}
#controls{
	display:none;
	position:relative;
	bottom:0;
	right:5px;
	padding:5px;
	margin:5px;
	height:5%;
	margin-top:15%;
}
#controls input{
	display:none;
	
}
#clearbutton{
	text-align:center;
	padding:7px 12px;
	cursor:pointer;
	font-weight:bold;
	font-size:0.9em;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px;
	border: 2px solid #004c4d;
	border-bottom:2px solid #003233;
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
	height:100%;

}
#clearbutton:hover, #clearbutton:focus{
	background-color:#f2f2f2;
	color:#444242;
	border: 2px solid #003233;
	
}
#clearbutton:active{
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    background: #003233;
    border: solid 2px #00191a;
}
#infobar{
	position:relative;
	bottom:0px;
	width:100%;
}
#previewInfo{
	display:none; 
	text-align: center;
	border:solid 2px #444242;
	border-radius:10px;	
	font-weight: bold;
	background-color:#fff;
	color: #444242;
/* 	position:absolute; 
	left:33%;
	bottom:12%; */ 
	padding:8px;
	width:200px;
	/* margin-right:55%; */
	margin:0px auto;
	white-space:normal;
	z-index:50;

}
.infobubble{
	width:100%;
	height:100%;	
}
.content{
	font-size: 14px;
	width:100%;
	height:100%;
	color:#20202d;
	margin-bottom:10px;
	
}
.content > p{
	padding:5px;
	padding-right:20px;
	margin:auto;
	white-space:nowrap;
}
#footer{
	margin:0 25px 0 3px;
	
}
#msu{
	width:45%; float:right; text-align:right; padding:20px 0 0 0;  font-size:12px; font-family:Arial, Helvetica, sans-serif;
}

#lowe{
	width:45%; float:left; padding:20px 0 0 13px; 
}
