body{
	font-size:100%
}
#map {
	width: 90%;
	height: 700px;
	padding: auto;
	border: 3px solid #003300;
	margin: auto;
}
#title{
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-family: "Courier New",Courier,monospace;
}
#logo{
	width:175px;
	height: 50px;
	padding-left:20px;
	margin:auto;
}
#legend{
	background:white;
	padding:5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	
}
.content{
	font-family: Roboto;
	font-size: 1em;
	margin: auto;
	padding: auto;
}
.legendIcon{
	width: 17px;
	height: 25px;
}
.legendEntry{
	font-family: "Courier New",Courier,monospace;
	font-size: 1.2em;
	font-weight:bolder;
}