body{
	font-size:100%;
}
h1{
	margin-top:0;
	margin-bottom:10px;
}
#map {
	width: 90%;
	height: 700px;
	padding: auto;
	border: 3px solid #003300;
	margin: auto;
}
#title{
	color: #004A00;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	width: 100%;
	text-align: center;
	font-size: 2em;
}
#logo{
	width:175px;
	height: 50px;
	padding-left:10px;
	margin:auto;
}
#legend{
	background:white;
	padding:5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	
}
#clientlogo{
	padding-top:10px;
}
.content{
	font-size: 1em;
	margin: auto;
	padding: auto;
}
.legendIcon{
	padding-left:2px;
	padding-right:2px;
	width: 17px;
	height: 25px;
}
.legendEntry{
	padding-bottom:5px;
	font-size: 1.2em;
	font-weight:bold;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:18px;
    height:18px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}